<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>VUE</title>
		<link rel="stylesheet" href="css/amazeui.css" type="text/css">
		<style type="text/css">
			html,body {
				height:100%;
			}

			body {
				background:#eee;
			}

			.area-width {
				max-width: 90%;
			}

		</style>
	</head>
	<body>
		<div class="am-container" style="margin:180px auto;width:400px;">

			<h1><img src="images/logo.png" alt=""> 小度驿站（盗版）</h1>
			<form action="" class="am-form am-form-horizontal" id="login">
				<div class="am-form-group am-form-icon">
					<i class="am-icon-user"></i>
					<input type="text" class="am-form-field area-width" placeholder="请输入用户名" name="username" v-model="user.username" v-on="keyup: onLogin | key enter">
				</div>
				<div class="am-form-group am-form-icon">
					<i class="am-icon-lock"></i>
					<input type="password" class="am-form-field  area-width" placeholder="请输入密码" name="password" v-model="user.password" v-on="keyup: onLogin | key enter">
				</div>
				<div class="am-form-group">
					<button class="am-btn am-btn-success" type="button" v-on="click:onLogin">登录</button>
				</div>

				{{message}}<br>
				{{usernameMessage}}<br>
				{{passwordMessage}}<br>
			</form>
		</div>

		<script src="js/jquery-2.1.1.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/login.js"></script>
	</body>
</html>